<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- Home Resource -->
	<servlet>
		<servlet-name>HomeResource</servlet-name>
		<servlet-class>com.unitvectory.pushtospeech.server.HomeResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeResource</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Speech Resource -->
	<servlet>
		<servlet-name>SpeechResource</servlet-name>
		<servlet-class>com.unitvectory.pushtospeech.server.SpeechResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpeechResource</servlet-name>
		<url-pattern>/api/v1/speech</url-pattern>
	</servlet-mapping>

	<!-- Token Resource -->
	<servlet>
		<servlet-name>TokenResource</servlet-name>
		<servlet-class>com.unitvectory.pushtospeech.server.TokenResource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TokenResource</servlet-name>
		<url-pattern>/api/v1/token</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>push</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
